header {
  border-bottom: 1px solid black;
}

header {
  position: sticky;
  top: 0;
  
  background: white;
}

header {
  nav {
    ul {
      display: flex;
    }
  }
}

header {
  .menu {
    ul {
      li {
        border: 1px solid black;
        border-radius: 5px;
        height: 50px;
        width: 80px;

        margin: 10px 20px;
      }
    }
  }
}

header {
  .socials {
    ul {
      li {
        margin: 0 30px;
      }
    }
  }
}

header {
  #title {
    border-bottom: 1px solid black;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
