header {
  border-bottom: 1px solid black;
}

header {
  position: sticky;
  top: 0;
  
  background: white;
}

header {
  nav {
    ul {
      display: flex;
    }
  }
}

header {
  nav .menu {
    ul {
      li {
        margin: 0 20px;
      }
    }
  }
}

header {
  #title {
    border-bottom: 1px solid black;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
