header {
  border-bottom: 1px solid black;
}

header {
  position: sticky;
  top: 0;

  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

header {
  nav {
    ul {
      list-style: none;
      display: flex;
    }
  }
}
