header {
  border-bottom: 1px solid black;
}

header {
  position: sticky;
  top: 0;
  
  background: white;
}

header {
  nav {
    ul {
      display: flex;
      margin-left: 20px;
    }
  }
}

header {
  #title {
    font-size: 20px;
    border-bottom: 1px solid black;
  }
}
